In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('final_results_data.csv')

In [3]:
df_2002 = df[df['year'] == 2002]
df_2002

races = pd.read_csv('/Users/elizakimball/Desktop/Harvard Thesis/f1db_csv/races.csv')
results = pd.read_csv('/Users/elizakimball/Desktop/Harvard Thesis/f1db_csv/results.csv')
drivers = pd.read_csv('/Users/elizakimball/Desktop/Harvard Thesis/f1db_csv/drivers.csv')


races[races['raceId'] == 66]

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
65,66,2006,14,5,Turkish Grand Prix,2006-08-27,15:00:00,http://en.wikipedia.org/wiki/2006_Turkish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [4]:
np.unique(results['positionText'])

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
       '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29',
       '3', '30', '31', '32', '33', '4', '5', '6', '7', '8', '9', 'D',
       'E', 'F', 'N', 'R', 'W'], dtype=object)

In [5]:
results[results['positionText'] == 'N']

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
1044,1045,66,11,8,22,21,\N,N,17,0.0,41,\N,\N,33,18,1:31.814,209.301,50
1372,1373,82,17,3,7,6,\N,N,19,0.0,55,\N,\N,46,15,1:16.803,214.397,55
1388,1389,83,27,18,21,17,\N,N,15,0.0,59,\N,\N,8,18,1:25.956,183.484,45
1470,1471,87,17,3,7,12,\N,N,17,0.0,45,\N,\N,45,8,1:13.590,210.794,58
1530,1531,90,46,18,20,20,\N,N,17,0.0,43,\N,\N,10,19,1:30.161,211.741,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20385,20388,339,5,205,19,15,\N,N,18,0.0,46,\N,\N,44,17,1:42.701,194.299,88
20750,20753,354,810,166,25,21,\N,N,23,0.0,62,\N,\N,60,18,1:16.767,202.071,19
20790,20793,841,10,166,24,21,\N,N,15,0.0,49,\N,\N,48,22,1:35.789,199.300,19
21076,21079,853,817,164,22,23,\N,N,16,0.0,39,\N,\N,36,20,1:32.013,226.650,111
22140,22143,900,824,206,17,18,\N,N,14,0.0,49,\N,\N,55,16,1:35.635,199.621,18

In [6]:
results[results['positionText'] == 'N']
drivers[drivers['driverId'] == 11]

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
10,11,sato,\N,SAT,Takuma,Sato,1977-01-28,Japanese,http://en.wikipedia.org/wiki/Takuma_Sato

In [10]:
has_zero = (results['driverId'] == 0).any()

print("Any driverId is 0:", has_zero)

Any driverId is 0: False